@import "normalize.css";

@mixin desktop {
  @media (min-width: 769px) {
    @content;
  }
}

$primary-color: #ADA7FF;

html {
  font-size: 12px;
  font-family: Dosis, sans-serif;
  line-height: 15px;

  @include desktop {
    font-size: 18px;
    line-height: 23px;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.color--primary {
  color: $primary-color;
}

h1 {
  font-size: 2.83rem;
  margin: 20px 0;
  line-height: 43px;

  @include desktop {
    font-size: 3.83rem;
    line-height: 87px;
  }
}

p {
  margin: 0;
}

.container {
  padding: 25px 17px;
  max-width: 1170px;
  margin: 0 auto;
}

.button {
  border: none;
  border-radius: 999px;
  display: flex;
  align-items: center;
  background-color: transparent;
  line-height: inherit;
  padding: 0;

  &:hover {
    cursor: pointer;
  }

  &--primary {
    padding: 10px 16px;
    background-color: $primary-color;
    color: #fff;

    @include desktop {
      padding: 16px 32px;
    }
  }

  &--transparent {
    color: $primary-color;
  }

  &--icon {
    gap: 10px;
  }

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  position: relative;

  @include desktop {
    padding-bottom: 50px;
  }

  &:after {
    content: "";
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid rgba(212, 212, 212, 0.58);
    width: 100vw;

    @include desktop {
      display: none;
    }
  }
}

.main-menu,
.get-started {
  display: none;

  @include desktop {
    display: block;
  }
}

.burger-nav {
  border: none;
  background-color: transparent;
  padding: 10px;
  margin-right: -10px;

  @include desktop {
    display: none;
  }
}

.main-menu ul {
  display: flex;
  gap: 25px;
  font-weight: 600;

  li.active {
    color: $primary-color;
  }
}

.main-content {

  @include desktop {
    display: flex;
    align-items: center;
  }

  &__description {
    @include desktop {
      width: 51%;
    }

    h1 {
      @include desktop {
        position: relative;
        width: calc(100% + 195px);
      }
    }
  }

  &__actions {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 35px 0;

    @include desktop {
      margin: 60px 0;
    }
  }

  &__play {
    align-self: stretch;
    white-space: nowrap;

    img {
      height: 100%;
    }
  }

}

.pictures {
  padding-top: 60px;

  @include desktop {
    flex: 1 0 auto;
  }

  &__line {
    display: flex;
    gap: 30%;

    & *:first-child {
      flex-grow: 1;
    }

    & *:last-child {
      flex-grow: 6;
    }

    &--reverse {
      align-items: end;
      margin-top: -75px;

      & *:first-child {
        flex-grow: 6;
      }

      & *:last-child {
        flex-grow: 1;
      }
    }
  }

  &__left-top {
    transform: rotate(-90deg);
  }

  &__left-bottom {
    transform: rotate(-180deg);
  }

  &__right-bottom {
    transform: rotate(-270deg);
  }

  &__item {
    height: fit-content;
  }

  .orange path {
    fill: #E9BC52;
  }
}

.paw {
  position: relative;

  &:after {
    content: url("../assets/icons/paw.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -60%);
  }

  &--bottom:after {
    transform: translate(-40%, -40%);

  }
}

.dog {
  position: relative;

  &:after {
    content: "";
    background-image: url("../assets/images/dog-sitting.png");
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 100%;
  }
}

.cat {
  position: relative;

  &:after {
    content: "";
    background-image: url(../assets/images/cat-lying.png);
    position: absolute;
    bottom: -10px;
    right: 20px;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 100%;
  }
}

.statistics {
  display: flex;
  gap: 30px;

  &__value {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
    line-height: 38px;

    @include desktop {
      font-size: 2.7rem;
      line-height: 54px;
    }
  }

  &__category {
    margin: 0;
  }
}
